---
import Layout from '../layouts/Layout.astro';
import resumeData from '../data/resume.json';
---

<Layout title="Resume">
    <h1>Zander Lewis - Resume</h1>
    <section>
        <h2>Work Experience</h2>
        {resumeData.workExperience.map((job) => (
            <div class="card">
                <h3>{job.title}</h3>
                <h4>{job.role}</h4>
                <p>{job.date}</p>
                <ul>
                    {job.tasks.map((task) => (
                        <li>{task}</li>
                    ))}
                </ul>
            </div>
        ))}
    </section>
    <section>
        <h2>Education</h2>
        {resumeData.education.map((edu) => (
            <div class="card">
                <h3>{edu.title}</h3>
                <p>{edu.institution}, {edu.date}</p>
            </div>
        ))}
    </section>
    <section>
        <h2>Skills</h2>
        <div class="card">
            <ul class="skills">
                {resumeData.skills.map((skill) => (
                    <li>{skill}</li>
                ))}
            </ul>
        </div>
    </section>
</Layout>

<style>
    section {
        margin-bottom: 2rem;
    }
    .card {
        background: var(--card-background);
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        list-style-type: none;
        padding: 0;
    }
    .skills li {
        background-color: rgb(var(--accent-dark));
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
    }
</style>